{"filter":false,"title":".gitignore","tooltip":"/2206-fsa-rm-web-ft-jpfp/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":0},"end":{"row":1,"column":14},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":33,"mode":"ace/mode/ini"}},"timestamp":1658161758930,"hash":"ae6ee07092380a504e6fa021834ee5fd4b14170c"}