{"filter":false,"title":".gitignore","tooltip":"/boilMaker/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":13},"action":"insert","lines":["node_modules","bundle.js","bundle.js.map"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":13},"end":{"row":2,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"mode":"ace/mode/ini"}},"timestamp":1658928675257,"hash":"5f35b2ad6053e33a2c71ff2e28e2051126f44f3c"}