{"filter":false,"title":".gitignore","tooltip":"/wikistack/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":9},"action":"insert","lines":["node_modules","*.log",".DS_Store"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":9},"end":{"row":2,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1656338588644,"hash":"0037972d515d512432c1bc459421146bcf43ecb7"}